<section class="Todos">
    <div class="Todos__due">
        <p class="TodoDue__title"><b><%= section_title  %></b></p>
        <p class="TodoDue__remaining"><%= completed_count  %>/<%= total_count  %></p>
    </div>

     <% todos.each do |todo|%>
        <ul class="TodoList">
            <li class="TodoList__todos">
                <input type="checkbox" class="TodoList__checkbox" <%= todo.completed ? "checked" : "" %> />

                <p class=<%= todo.completed ? "TodoList__todos-text-completed" : "TodoList__todos-txt" %>><%= todo.todo_txt  %></p>
                
                <% if show_date %>
                    <p class="TodoList__todos-dueDate"><%=todo.due_date.to_s(:short)%></p>
                <% end %>
                
                <img src="trash-can-outline.png" class="TodoList__todos-remove">
            </li>
        </ul> 
    <% end %>
    
</section>