<section class="Todos">
    <div class="Todos__due">
        <p class="TodoDue__title"> <b> <%= section_title  %> </b> </p>
        <p class="TodoDue__remaining"> <%= completed_count  %>/<%= total_count  %> </p>
    </div>

     <% todos.each do |todo| %>
        <ul class="TodoList">
            <li class="TodoList__todos">
                <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                    <%= check_box_tag "completed", "yes",
                                        todo.completed,
                                        class: "TodoList-checkbox",
                                        :onclick=>"submit()" 
                    %>
                <% end %>
                <p class=<%= todo.completed ? "TodoList__todos-text-completed" : "TodoList__todos-text" %>>
                    <%= todo.todo_txt  %>
                </p>
                
                <% if show_date %>
                    <p class="TodoList__todos-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
                <% end %>
            
                <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                    <%= image_submit_tag("trash-can-outline.png",
                                        class: "TodoList__todos-remove")
                    %>
                <% end %>
            </li>
        </ul> 
    <% end %>
</section>