<main class="TodoMain">
    <article>
        <h1 class="TodoPage__title"> My To-do List </h1>
       
        <%= form_with(url: "/todos", method: "post",class: "Todo")  do %>    
            <%= text_field_tag 'todo_txt', nil, 
                                placeholder: "What's next?",
                                class: "Todo__text"
            %>
            <%= date_field_tag 'due_date', nil, class: "Todo__date" %>
            <%= button_tag "Add", class: "Todo__add" %>
        <% end %>

        <%= render partial: "todo-section" ,locals: {
            section_title: "Overdue",
            todos: Todo.overdue,
            completed_count: 0,
            total_count: (Todo.overdue.count - Todo.overdue.completed.count),
            show_date: true,
        } %>

        <%= render partial: "todo-section" ,locals: {
            section_title: "Due Today",
            todos: Todo.due_today,
            completed_count: Todo.due_today.completed.count,
            total_count: Todo.due_today.count,
            show_date: false,
        } %>


        <%= render partial: "todo-section" ,locals: {
            section_title: "Due later",
            todos: Todo.due_later,
            completed_count: Todo.due_later.completed.count,
            total_count: Todo.due_later.count,
            show_date: true,
        } %>
       
    </article>
</main>